<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <!---->
            <div *ngFor="let image of images" class="col-md-4">
                <a type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="getImageById(image.id)">
                <div class="card mb-4 shadow-sm">
                    <div>
                        <a ><img class="card-img-top datita" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{{image.cropped_picture}}" data-holder-rendered=" true "></a>
                    </div>
                </div>
                </a>
            </div>
            <!---->
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade center-m" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered m-size" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">+ Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="max-w" src="{{moreDetails.full_picture}}" alt="">
        </div>
        <div class="modal-body">
            <div><label >Author: {{moreDetails.author}}</label></div>
            <div><label >Camera Model: {{moreDetails.camera}}</label></div>
            <div><label >{{moreDetails.tags}}</label></div>
          </div>
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" (click)="copyToClipboard(moreDetails.full_picture)" value="click to copy" >share Img</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previousPage()">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>